@font-face {
    font-family: notoSansSundanese;
    src: url(../personalPages/res/Noto_Sans_Sundanese/static/NotoSansSundanese-Regular.ttf);
}

.aksara {
    font-family: 'notoSansSundanese';
}

.jumbotron-faded {
    position: absolute;
    right: 0;
    height: 100%;
    width: auto; /* Maintain aspect ratio */
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    background-color: transparent;
  }