@font-face {
    font-family: notoSansSundanese;
    src: url(../personalPages/res/Noto_Sans_Sundanese/static/NotoSansSundanese-Regular.ttf);
}

.aksara {
    font-family: 'notoSansSundanese';
}

/* ============================= */
/* Fluent / Acrylic UI effects  */
/* ============================= */
.acrylic::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/noise.png");
  opacity: 0.06; /* try 0.07 if still subtle */
  mix-blend-mode: overlay;
  pointer-events: none;
}



/* ===== Bootstrap dark acrylic card fix ===== */
[data-bs-theme="dark"] .navbar {
  background-color: rgba(30, 33, 43, 0.65) !important;
backdrop-filter: blur(24px) saturate(120%);
  -webkit-backdrop-filter: blur(16px);
}

body[data-bs-theme="dark"] {
  background: linear-gradient(
  180deg,
  #232734 0%,
  #1E212B 60%,
  #181A22 100%
);
  min-height: 100vh;
}

.acrylic-dark {
background-color: rgba(30, 33, 43, 0.65);
backdrop-filter: blur(24px) saturate(120%);
  -webkit-backdrop-filter: blur(28px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  position: relative;
  overflow: hidden;
}

[data-bs-theme="dark"] .card.acrylic-dark {
  background-color: rgba(30, 33, 43, 0.65);
backdrop-filter: blur(24px) saturate(120%);

}

.bg-body-secondary {
  position: relative;
  background:
    linear-gradient(
      135deg,
      rgba(30, 33, 43, 0.78) 0%,
      rgba(23, 25, 35, 0.82) 100%
    );
  backdrop-filter: blur(32px) saturate(120%);
  -webkit-backdrop-filter: blur(32px) saturate(120%);
}


